@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, blue, black) ;
}

div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px black  ;
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, cyan, purple);
}

h2 {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h1{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}