@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(0deg, #212020 12%, #ba8d5c 50%, #997459 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    opacity: 0.5;
    font-size: 6rem;
    text-align: center;
}

form{
    box-shadow: 0 5px 10px black;
    max-width: 100%;
    width: 400px;
    height: 25px;

}

.entrada {
    border: none;
    width: 100%;
    height: 100%;
    padding: 2px 10px;
}

.entrada::placeholder{
    color: rgba(5, 5, 5, 0.781);
}

.entrada:focus{
    outline: 0;
}

.tarefas{
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    color: #4d4c4c;
    list-style: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
}

.tarefas li{
    background-color: rgba(255, 255, 255, 0.945);
    font-size: 15px;
}


.tarefas li.completada{
    color: rgba(222, 217, 217);
    text-decoration: line-through;
}

small {
    margin-top: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.tarefas:hover{
    color: rgb(0, 0, 0);
}

.entrada:focus{
    border-color: black;
}